main {
  width: 1400px;
  margin: 0 auto;
  overflow:hidden;
  height: auto;
}

header {
  background-color: green;
  width: 100%;
}

h1 {
  width: 400px;
  position: relative;
  margin: 0 auto;
  color: #fff;
  font-size: 1.8em;
  line-height: 2.4em;
  margin-left: auto;
}

.mode-edit,
.mode-maker,
.mode-blockly {
  display: none;
}

[mode="maker"] .mode-maker,
[mode="edit"] .mode-edit,
[mode="blockly"] .mode-blockly {
  display: block;
}

.blockly-editor {
  margin-top: 50px;
  top: 64px;
  transition: left .4s;
  height: 280px;
  width:  100%;
  background-color: rgb(255, 255, 255);
}

[mode="blockly"] .blockly-editor {
  left: 0;
  height: 280px;
  width: 100%;
}

.maker {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 60px;
  width: 400px;
  margin-top: 80px;
}

.maker > div {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 20px;
  height: 40px;
  color: #fff;
  font-size: 1em;
  text-align: center;
  vertical-align: middle;
  line-height: 140px;
}

.mdl-button {
  margin: 1em 0;
  float: right;
}

.btn-2{
  border-radius: 5px;
  border: none;
  height: 40px;
  width: 100px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color:rgb(88, 180, 184); 
  margin-top:10px;
}

.code_space{
  margin-top: 40px;
   height: 200px; 
   width: 1250px; 
   background-color: rgb(219, 254, 255);
   overflow:auto;
   padding: 20px;
}