main {
  width: 1400px;
  margin: 0 auto;
  overflow:hidden;
  height: auto;
}

header {
  background-color: green;
  width: 100%;
}

h1 {
  width: 400px;
  position: relative;
  margin: 0 auto;
  color: #fff;
  font-size: 1.8em;
  line-height: 2.4em;
  margin-left: auto;
}

.mode-edit,
.mode-maker,
.mode-blockly {
  display: none;
}

[mode="maker"] .mode-maker,
[mode="edit"] .mode-edit,
[mode="blockly"] .mode-blockly {
  display: block;
}

.blockly-editor {
  top: 64px;
  transition: left .4s;
  height: 280px;
  width:  100%;
  background-color: rgb(255, 255, 255);
}

[mode="blockly"] .blockly-editor {
  left: 0;
  height: 280px;
  width: 100%;
}

.maker {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 60px;
  width: 400px;
  margin-top: 80px;
}

.maker > div {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 20px;
  height: 40px;
  color: #fff;
  font-size: 1em;
  text-align: center;
  vertical-align: middle;
  line-height: 140px;
}

.mdl-button {
  margin: 1em 0;
  float: right;
}

.btn-2{
  position: relative;
  top:80px;
  left: 15px;
  z-index: 999;
  border-radius: 3px;
  border: none;
  height: 40px;
  width: 100px;
  font-size: 12px;
  color: #fff;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color:#008184; 
  margin-top:80px;
}

.btn-2:hover{
  background-color:rgb(69, 128, 133); 
  color: #e4f0f3;
}

.code_space{
   height: 80vh; 
   width: 90%; 
   background-color: #38393a;
   overflow:auto;
   padding: 20px;
   color: hsl(105deg 100% 50%)!important;
   font-size: 15px;
}


.code_col{
  padding: 30px 30px 30px 10px;
}

.blocks{
  height: 80vh; 
  width: auto; 
}

code{
  color: black!important;
  font-size: 15px!important;
}
.blocklyToolboxDiv {
  background-color: #e4f0f3;
  color: rgb(0, 0, 0);
  
}

.bloco_controle{
  padding: 1px; 
  color:hsl(285deg 100% 60%)!important; 
  color:black;
}

.bloco_condição{
  padding: 1px; 
  color: hsl(105deg 100% 50%)!important; 
  color:black ; 
}

.bloco_variavel{
  padding: 1px;
   width: 50px; 
  color:hsl(330deg 100% 50%)!important;
}

.bloco_ação{
  padding: 1px;
   width: 50px; 
   color:hsl(240deg 100% 83%)!important;
}

.bloco_setupLoop{
  padding: 1px;
   width: 50px; 
   color:hsl(180deg 100% 50%)!important;;
}
